<!-- 하얀색 bg-light -->
<!-- 검은색 bg-dark -->
<!-- 그레이 bg-secondary -->

<!-- 빨간색 bg-danger -->
<!-- 파란색 bg-primary -->
<!-- 초록색 bg-success -->

<!-- 청록색 bg-info -->
<!-- 노란색 bg-warning -->

<!-- Carousel Banner Image-->
<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item bg-secondary active" style="text-align: center">
<!--            <img class="d-block w-100" src="/banner1.jpg" alt="First slide" style="height: 400px">-->
            <img src="/banner1.jpg" alt="First slide" style="height: 400px">
            <div class="carousel-caption d-none d-md-block" style="color: #FFFFFF">
                <h5>First Slide Label</h5>
                <p>This is First Slide for Skuniv CGVR Lab.</p>
            </div>
        </div>
        <div class="carousel-item bg-secondary" style="text-align: center">
<!--            <img class="d-block w-100" src="/banner2.jpg" alt="Second slide" style="height: 400px">-->
            <img src="/banner2.jpg" alt="Second slide" style="height: 400px">
            <div class="carousel-caption d-none d-md-block" style="color: #FFFFFF">
                <h5>Second Slide Label</h5>
                <p>This is Second Slide for Skuniv CGVR Lab.</p>
            </div>
        </div>
        <div class="carousel-item bg-secondary" style="text-align: center">
<!--            <img class="d-block w-100" src="/banner3.jpg" alt="Third slide" style="height: 400px">-->
            <img src="/banner3.jpg" alt="Third slide" style="height: 400px">
            <div class="carousel-caption d-none d-md-block" style="color: #FFFFFF">
                <h5>Third Slide Label</h5>
                <p>This is Third Slide for Skuniv CGVR Lab.</p>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>