{{>header}}
{{>banner}}
<div class="container-fluid">
    <!-- Row 1 -->
    <div class="row mx-4 my-4">

        <!-- Post HyperLink Board -->
        <div class="col-lg-4">
            <div class="card border border-dark h-100" style="min-height: 300px">
                <h5 class="card-header text-white bg-dark text-center">일반 공지사항</h5>
                <ul class="list-group list-group-dark">
                    <li class="list-group-item p-0">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 10%" class="text-center"> </th>
                                <th style="width: 40%" class="text-start">제목</th>
                                <th style="width: 10%" class="text-center">조회수</th>
                                <th style="width: 15%" class="text-center">작성자</th>
                                <th style="width: 15%" class="text-center">작성일</th>
                            </tr>
                            </thead>
                            {{#noticeNormalPosts}}
                            <tr>
                                <td style="width: 10%" class="text-center">{{id}}</td>
                                <td style="max-width: 150px" class="text-start text-truncate"><a href="/notice/normal/posts/{{id}}">{{title}}</a></td>
                                <td style="width: 10%" class="text-center">{{hits}}</td>
                                <td style="width: 15%; max-width: 150px" class="text-center text-truncate">{{author}}</td>
                                <td style="width: 15%" class="text-center">{{createdDate}}</td>
                            </tr>
                            {{/noticeNormalPosts}}
                        </table>
                    </li>
                </ul>
            </div>
        </div>


        <!-- Post HyperLink Board -->
        <div class="col-lg-4">
            <div class="card border border-dark h-100" style="min-height: 300px">
                <h5 class="card-header text-white bg-dark text-center">수업 공지사항</h5>
                <ul class="list-group list-group-dark">
                    <li class="list-group-item p-0">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 10%" class="text-center"> </th>
                                <th style="width: 40%" class="text-start">제목</th>
                                <th style="width: 10%" class="text-center">조회수</th>
                                <th style="width: 15%" class="text-center">작성자</th>
                                <th style="width: 15%" class="text-center">작성일</th>
                            </tr>
                            </thead>
                            {{#noticeLecturePosts}}
                            <tr>
                                <td style="width: 10%" class="text-center">{{id}}</td>
                                <td style="max-width: 150px" class="text-start text-truncate"><a href="/notice/lecture/posts/{{id}}">{{title}}</a></td>
                                <td style="width: 10%" class="text-center">{{hits}}</td>
                                <td style="width: 15%; max-width: 150px" class="text-center text-truncate">{{author}}</td>
                                <td style="width: 15%" class="text-center">{{createdDate}}</td>
                            </tr>
                            {{/noticeLecturePosts}}
                        </table>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Post HyperLink Board -->
        <div class="col-lg-4">
            <div class="card border border-dark h-100" style="min-height: 300px">
                <h5 class="card-header text-white bg-dark text-center">연구 공지사항</h5>
                <ul class="list-group list-group-dark">
                    <li class="list-group-item p-0">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 10%" class="text-center"> </th>
                                <th style="width: 40%" class="text-start">제목</th>
                                <th style="width: 10%" class="text-center">조회수</th>
                                <th style="width: 15%" class="text-center">작성자</th>
                                <th style="width: 15%" class="text-center">작성일</th>
                            </tr>
                            </thead>
                            {{#noticeLaboratoryPosts}}
                            <tr>
                                <td style="width: 10%" class="text-center">{{id}}</td>
                                <td style="max-width: 150px" class="text-start text-truncate"><a href="/notice/laboratory/posts/{{id}}">{{title}}</a></td>
                                <td style="width: 10%" class="text-center">{{hits}}</td>
                                <td style="width: 15%; max-width: 150px" class="text-center text-truncate">{{author}}</td>
                                <td style="width: 15%" class="text-center">{{createdDate}}</td>
                            </tr>
                            {{/noticeLaboratoryPosts}}
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Row 2 -->
    <div class="row mx-4 my-4">
        <!-- Post HyperLink Board -->
        <div class="col-lg-4">
            <div class="card border border-dark h-100" style="min-height: 300px">
                <h5 class="card-header text-white bg-dark text-center">연구실 공지사항</h5>
                <ul class="list-group list-group-dark">
                    <li class="list-group-item p-0">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 10%" class="text-center"> </th>
                                <th style="width: 40%" class="text-start">제목</th>
                                <th style="width: 10%" class="text-center">조회수</th>
                                <th style="width: 15%" class="text-center">작성자</th>
                                <th style="width: 15%" class="text-center">작성일</th>
                            </tr>
                            </thead>
                            {{#LaboratoryNoticePosts}}
                            <tr>
                                <td style="width: 10%" class="text-center">{{id}}</td>
                                <td style="max-width: 150px" class="text-start text-truncate"><a href="/laboratory/notice/posts/{{id}}">{{title}}</a></td>
                                <td style="width: 10%" class="text-center">{{hits}}</td>
                                <td style="width: 15%; max-width: 150px" class="text-center text-truncate">{{author}}</td>
                                <td style="width: 15%" class="text-center">{{createdDate}}</td>
                            </tr>
                            {{/LaboratoryNoticePosts}}
                        </table>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Post HyperLink Board -->
        <div class="col-lg-4">
            <div class="card border border-dark h-100" style="min-height: 300px">
                <h5 class="card-header text-white bg-dark text-center">논문 게시판</h5>
                <ul class="list-group list-group-dark">
                    <li class="list-group-item p-0">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 10%" class="text-center"> </th>
                                <th style="width: 40%" class="text-start">제목</th>
                                <th style="width: 10%" class="text-center">조회수</th>
                                <th style="width: 15%" class="text-center">작성자</th>
                                <th style="width: 15%" class="text-center">작성일</th>
                            </tr>
                            </thead>
                            {{#LaboratoryPaperPosts}}
                            <tr>
                                <td style="width: 10%" class="text-center">{{id}}</td>
                                <td style="max-width: 150px" class="text-start text-truncate"><a href="/laboratory/paper/posts/{{id}}">{{title}}</a></td>
                                <td style="width: 10%" class="text-center">{{hits}}</td>
                                <td style="width: 15%; max-width: 150px" class="text-center text-truncate">{{author}}</td>
                                <td style="width: 15%" class="text-center">{{createdDate}}</td>
                            </tr>
                            {{/LaboratoryPaperPosts}}
                        </table>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Post HyperLink Board -->
        <div class="col-lg-4">
            <div class="card border border-dark h-100" style="min-height: 300px">
                <h5 class="card-header text-white bg-dark text-center">자료 게시판</h5>
                <ul class="list-group list-group-dark">
                    <li class="list-group-item p-0">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 10%" class="text-center"> </th>
                                <th style="width: 40%" class="text-start">제목</th>
                                <th style="width: 10%" class="text-center">조회수</th>
                                <th style="width: 15%" class="text-center">작성자</th>
                                <th style="width: 15%" class="text-center">작성일</th>
                            </tr>
                            </thead>
                            {{#LaboratoryMaterialPosts}}
                            <tr>
                                <td style="width: 10%" class="text-center">{{id}}</td>
                                <td style="width: 40%; max-width: 150px" class="text-start text-truncate"><a href="/laboratory/material/posts/{{id}}">{{title}}</a></td>
                                <td style="width: 10%" class="text-center">{{hits}}</td>
                                <td style="width: 15%; max-width: 150px" class="text-center text-truncate">{{author}}</td>
                                <td style="width: 15%" class="text-center">{{createdDate}}</td>
                            </tr>
                            {{/LaboratoryMaterialPosts}}
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Row 3 -->
    <div class="row mx-4 my-4">
        <!-- Fast HyperLink for Lecture CPP -->
        <div class="col-lg-3">
            <div class="card border border-dark h-100">
                <!-- Best Fit Image Size 1920x1080 -->
                <a href="#"><img src="/img/CPP.jpg" class="card-img-top w-100" alt="CPP"/></a>
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title"><a class="text-dark" href="#">C++ Fast HyperLink</a></h5>
                    <p class="card-text"><a class="text-dark" href="#">
                        객체지향 언어의 특성과 C++ 언어를 충분히 습득하기 위해서 객체지향 언어의 특성인
                        객체(Objects)와 클래스(Class), 상속성(Inheritance), 다형성(Polymorphism)등에 대해 학습한다.
                        또한, C++ 언어에 대한 구문 구조 및 응용 프로그래밍 기법을 습득하기 위해
                        기존의 C 언어에서 확장된 부분과 객체지향 프로그래밍을 지원하기 위한 다양한 기법을 공부한다.
                    </a></p>
                </div>
            </div>
        </div>

        <!-- Fast HyperLink for Lecture MFC -->
        <div class="col-lg-3">
            <div class="card border border-dark h-100">
                <!-- Best Fit Image Size 1920x1080 -->
                <a href="#"><img src="/img/MFC.jpg" class="card-img-top w-100" alt="MFC"/></a>
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title"><a class="text-dark" href="#">MFC Fast HyperLink</a></h5>
                    <p class="card-text"><a class="text-dark" href="#">
                         Windows 환경하에서 널리 사용되고 있는 VisualC++의 MFC(Microsoft Foundation Class)를 이용한 Windows 응용 프로그래밍 방법을 단계별로 학습한다.
                        이 과정으로 객체지향언어인 C++언어를 활용한 윈도우즈 프로그래밍의 개념을 익히고 실용 프로젝트 설계기법을 익힌다.
                    </a></p>
                </div>
            </div>
        </div>

        <!-- Fast HyperLink for Lecture Graphics -->
        <div class="col-lg-3">
            <div class="card border border-dark h-100">
                <!-- Best Fit Image Size 1920x1080 -->
                <a href="#"><img src="/img/CG.jpg" class="card-img-top w-100" alt="CG"/></a>
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title"><a class="text-dark" href="#">Graphics Fast HyperLink</a></h5>
                    <p class="card-text"><a class="text-dark" href="#">
                        컴퓨터 그래픽스의 기초 개념 및 알고리즘을 이해하고 이를 바탕으로 실제 구현을 해본다.
                        MS windows상에서 3D 그래픽 프로그래밍을 수행하기 위하여 OpenGL에 관하여 학습하고 직접 프로젝트를 수행해보면서 3D 컴퓨터그래픽스 기술이 어떻게 응용되는지 습득할 수 있다.
                    </a></p>
                </div>
            </div>
        </div>

        <!-- Fast HyperLink for Lecture AR -->
        <div class="col-lg-3">
            <div class="card border border-dark h-100">
                <!-- Best Fit Image Size 1920x1080 -->
                <a href="#"><img src="/img/VR_AR.jpg" class="card-img-top w-100" alt="VR/AR"/></a>
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title"><a class="text-dark" href="#">VR / AR Fast HyperLink</a></h5>
                    <p class="card-text"><a class="text-dark" href="#">
                        게임 기획, 설계, 미디어 제작, 유니티 기반 게임 프로그래밍 기술 등 게임 전반적인 제작 기술을 습득하여 관련 업계진출이 가능하도록 능력을 고취시킨다.
                        가상현실 및 모바일 증강현실 응용 기획 및 제작 과정을 학습함으로써 4차혁명의 중심이되는 XR(eXtented Reality) 기술을 적용한 응용을 직접 제작해 볼 수 있다.
                    </a></p>
                </div>
            </div>
        </div>
    </div>


</div>
{{>footer}}