{{>header}}
{{>navbar}}

<h1>배너 이미지</h1><BR>

<h1>전체 공지사항</h1>
<h2>일반 공지사항</h2>
<h2>수업 공지사항</h2>
<h2>연구 공지사항</h2>
<h3>우측에는 모든 공지사항에 대한 글 목록</h3><BR>

<h1>수업 공지사항</h1>
<h2>공지 게시판</h2>
<h2>자료 게시판</h2>
<h2>실습 게시판</h2>
<h2>과제 게시판</h2>
<h2>발표 게시판</h2>
<h3>우측에는 수업 공지사항에 대한 글 목록</h3><BR>

<h1>연구 공지사항</h1>
<h2>공지사항</h2>
<h2>프로젝트1</h2>
<h2>프로젝트2</h2>
<h2>프로젝트3</h2>
<h3>우측에는 연구 공지사항에 대한 글 목록</h3><BR>

{{>footer}}