{{>header}}
{{>banner}}
<div class="container-fluid">
    <!-- Row 1 -->
    <div class="row mx-4 my-4">

        <!-- Post HyperLink Board -->
        <div class="col-lg-4">
            <div class="card border border-dark h-100" style="min-height: 300px">
                <h5 class="card-header text-white bg-dark text-center">일반 공지사항</h5>
                <ul class="list-group list-group-dark">
                    <li class="list-group-item p-0">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 10%" class="text-center"> </th>
                                <th style="width: 40%" class="text-start">제목</th>
                                <th style="width: 10%" class="text-center">조회수</th>
                                <th style="width: 15%" class="text-center">작성자</th>
                                <th style="width: 15%" class="text-center">작성일</th>
                            </tr>
                            </thead>
                            {{#noticeNormalPosts}}
                            <tr>
                                <td style="width: 10%" class="text-center">{{id}}</td>
                                <td style="max-width: 150px" class="text-start text-truncate"><a href="/notice/normal/posts/{{id}}">{{title}}</a></td>
                                <td style="width: 10%" class="text-center">{{hits}}</td>
                                <td style="width: 15%; max-width: 150px" class="text-center text-truncate">{{author}}</td>
                                <td style="width: 15%" class="text-center">{{createdDate}}</td>
                            </tr>
                            {{/noticeNormalPosts}}
                        </table>
                    </li>
                </ul>
            </div>
        </div>


        <!-- Post HyperLink Board -->
        <div class="col-lg-4">
            <div class="card border border-dark h-100" style="min-height: 300px">
                <h5 class="card-header text-white bg-dark text-center">수업 공지사항</h5>
                <ul class="list-group list-group-dark">
                    <li class="list-group-item p-0">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 10%" class="text-center"> </th>
                                <th style="width: 40%" class="text-start">제목</th>
                                <th style="width: 10%" class="text-center">조회수</th>
                                <th style="width: 15%" class="text-center">작성자</th>
                                <th style="width: 15%" class="text-center">작성일</th>
                            </tr>
                            </thead>
                            {{#noticeLecturePosts}}
                            <tr>
                                <td style="width: 10%" class="text-center">{{id}}</td>
                                <td style="max-width: 150px" class="text-start text-truncate"><a href="/notice/normal/posts/{{id}}">{{title}}</a></td>
                                <td style="width: 10%" class="text-center">{{hits}}</td>
                                <td style="width: 15%; max-width: 150px" class="text-center text-truncate">{{author}}</td>
                                <td style="width: 15%" class="text-center">{{createdDate}}</td>
                            </tr>
                            {{/noticeLecturePosts}}
                        </table>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Post HyperLink Board -->
        <div class="col-lg-4">
            <div class="card border border-dark h-100" style="min-height: 300px">
                <h5 class="card-header text-white bg-dark text-center">연구 공지사항</h5>
                <ul class="list-group list-group-dark">
                    <li class="list-group-item p-0">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 10%" class="text-center"> </th>
                                <th style="width: 40%" class="text-start">제목</th>
                                <th style="width: 10%" class="text-center">조회수</th>
                                <th style="width: 15%" class="text-center">작성자</th>
                                <th style="width: 15%" class="text-center">작성일</th>
                            </tr>
                            </thead>
                            {{#noticeLaboratoryPosts}}
                            <tr>
                                <td style="width: 10%" class="text-center">{{id}}</td>
                                <td style="max-width: 150px" class="text-start text-truncate"><a href="/notice/normal/posts/{{id}}">{{title}}</a></td>
                                <td style="width: 10%" class="text-center">{{hits}}</td>
                                <td style="width: 15%; max-width: 150px" class="text-center text-truncate">{{author}}</td>
                                <td style="width: 15%" class="text-center">{{createdDate}}</td>
                            </tr>
                            {{/noticeLaboratoryPosts}}
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Row 2 -->
    <div class="row mx-4 my-4">
        <!-- Post HyperLink Board -->
        <div class="col-lg-4">
            <div class="card border border-dark h-100" style="min-height: 300px">
                <h5 class="card-header text-white bg-dark text-center">연구실 공지사항</h5>
                <ul class="list-group list-group-dark">
                    <li class="list-group-item p-0">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 10%" class="text-center"> </th>
                                <th style="width: 40%" class="text-start">제목</th>
                                <th style="width: 10%" class="text-center">조회수</th>
                                <th style="width: 15%" class="text-center">작성자</th>
                                <th style="width: 15%" class="text-center">작성일</th>
                            </tr>
                            </thead>
                            {{#LaboratoryNoticePosts}}
                            <tr>
                                <td style="width: 10%" class="text-center">{{id}}</td>
                                <td style="max-width: 150px" class="text-start text-truncate"><a href="/notice/normal/posts/{{id}}">{{title}}</a></td>
                                <td style="width: 10%" class="text-center">{{hits}}</td>
                                <td style="width: 15%; max-width: 150px" class="text-center text-truncate">{{author}}</td>
                                <td style="width: 15%" class="text-center">{{createdDate}}</td>
                            </tr>
                            {{/LaboratoryNoticePosts}}
                        </table>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Post HyperLink Board -->
        <div class="col-lg-4">
            <div class="card border border-dark h-100" style="min-height: 300px">
                <h5 class="card-header text-white bg-dark text-center">논문 게시판</h5>
                <ul class="list-group list-group-dark">
                    <li class="list-group-item p-0">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 10%" class="text-center"> </th>
                                <th style="width: 40%" class="text-start">제목</th>
                                <th style="width: 10%" class="text-center">조회수</th>
                                <th style="width: 15%" class="text-center">작성자</th>
                                <th style="width: 15%" class="text-center">작성일</th>
                            </tr>
                            </thead>
                            {{#LaboratoryPaperPosts}}
                            <tr>
                                <td style="width: 10%" class="text-center">{{id}}</td>
                                <td style="max-width: 150px" class="text-start text-truncate"><a href="/notice/normal/posts/{{id}}">{{title}}</a></td>
                                <td style="width: 10%" class="text-center">{{hits}}</td>
                                <td style="width: 15%; max-width: 150px" class="text-center text-truncate">{{author}}</td>
                                <td style="width: 15%" class="text-center">{{createdDate}}</td>
                            </tr>
                            {{/LaboratoryPaperPosts}}
                        </table>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Post HyperLink Board -->
        <div class="col-lg-4">
            <div class="card border border-dark h-100" style="min-height: 300px">
                <h5 class="card-header text-white bg-dark text-center">자료 게시판</h5>
                <ul class="list-group list-group-dark">
                    <li class="list-group-item p-0">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 10%" class="text-center"> </th>
                                <th style="width: 40%" class="text-start">제목</th>
                                <th style="width: 10%" class="text-center">조회수</th>
                                <th style="width: 15%" class="text-center">작성자</th>
                                <th style="width: 15%" class="text-center">작성일</th>
                            </tr>
                            </thead>
                            {{#LaboratoryMaterialPosts}}
                            <tr>
                                <td style="width: 10%" class="text-center">{{id}}</td>
                                <td style="width: 40%; max-width: 150px" class="text-start text-truncate"><a href="/notice/normal/posts/{{id}}">{{title}}</a></td>
                                <td style="width: 10%" class="text-center">{{hits}}</td>
                                <td style="width: 15%; max-width: 150px" class="text-center text-truncate">{{author}}</td>
                                <td style="width: 15%" class="text-center">{{createdDate}}</td>
                            </tr>
                            {{/LaboratoryMaterialPosts}}
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Row 3 -->
    <div class="row mx-4 my-4">
        <!-- Fast HyperLink for Lecture CPP -->
        <div class="col-lg-3">
            <div class="card border border-dark h-100">
                <!-- Best Fit Image Size 1920x1080 -->
                <a href="#"><img src="/img/banner3.jpg" class="card-img-top w-100" alt="CPP"/></a>
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title"><a class="text-dark" href="#">C++ Fast HyperLink</a></h5>
                    <p class="card-text"><a class="text-dark" href="#">
                        This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.
                    </a></p>
                </div>
            </div>
        </div>

        <!-- Fast HyperLink for Lecture MFC -->
        <div class="col-lg-3">
            <div class="card border border-dark h-100">
                <!-- Best Fit Image Size 1920x1080 -->
                <a href="#"><img src="/img/banner3.jpg" class="card-img-top w-100" alt="MFC"/></a>
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title"><a class="text-dark" href="#">MFC Fast HyperLink</a></h5>
                    <p class="card-text"><a class="text-dark" href="#">
                        This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.
                    </a></p>
                </div>
            </div>
        </div>

        <!-- Fast HyperLink for Lecture Graphics -->
        <div class="col-lg-3">
            <div class="card border border-dark h-100">
                <!-- Best Fit Image Size 1920x1080 -->
                <a href="#"><img src="/img/banner3.jpg" class="card-img-top w-100" alt="CG"/></a>
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title"><a class="text-dark" href="#">Graphics Fast HyperLink</a></h5>
                    <p class="card-text"><a class="text-dark" href="#">
                        This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.
                    </a></p>
                </div>
            </div>
        </div>

        <!-- Fast HyperLink for Lecture AR -->
        <div class="col-lg-3">
            <div class="card border border-dark h-100">
                <!-- Best Fit Image Size 1920x1080 -->
                <a href="#"><img src="/img/banner3.jpg" class="card-img-top w-100" alt="AR"/></a>
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title"><a class="text-dark" href="#">Augmented Reality Fast HyperLink</a></h5>
                    <p class="card-text"><a class="text-dark" href="#">
                        This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.
                    </a></p>
                </div>
            </div>
        </div>
    </div>


</div>
{{>footer}}