{{>header}}

<div class="container-fluid">
    <div class="row mx-4 my-4 justify-content-center">
        <!-- SideMenu Navbar -->
        <div class="col-lg-2">
            <div id="sidebar" class="position-fixed">
                <h3>Introductions</h3><hr>
                <nav class="nav nav-pills flex-column menu-sidebar">
                    <a class="nav-link" href="/introduction/professor"><h4>Professor</h4></a>
                    <a class="nav-link" href="/introduction/researchers"><h4>Researchers</h4></a>
                    <a class="nav-link" href="#item-3"><h4>Laboratory</h4></a>
                </nav>
            </div>
        </div>

        <!-- Content -->
        <div class="col-lg-8">
            <div data-bs-spy="scroll" data-bs-target="#sidebar" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">

                <div id="item-3">
                    <h3>Laboratory</h3><hr>
                    <div class="col-lg-auto mb-4">
                        <img class="img-fluid rounded" src="/img/CGVR.jpg">
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h4 class="card-title"><strong>Skuniv CGVR LAB</strong></h4>
                            <h5 class="card-subtitle mb-4 text-muted">북악관 - 506 / 02 940 7744</h5>
                            <hr>
                            <h5 class="card-subtitle mb-4">운영목표</h5>
                            <p class="card-text">최신 컴퓨터그래픽스 및 가상현실 기술 응용에 관한 연구를 수행한다.</p>
                            <hr>
                            <h5 class="card-subtitle mb-4">주요 운영 실적</h5>
                            <h6 class="card-subtitle mb-4">과제</h6>
                            <hr>
                            <p>
                                2017.06-2018.02, 가상현실 3D 오브젝트와의 상호작용을 위한 머신러닝 기반 손 제스처 인식 라이브러리 기술 연구, 한국연구재단<br>
                                2011.10-2012.01, Pick&Drop 장치를 이용한 차세대 인터페이스 개발, 한국전자통신연구원<br>
                                2011.05-2012.04, 유비쿼터스 환경을 위한 손 기반 3차원 입력 인터페이스 기술(3차년도), 한국연구재단<br>
                                2010.05-2011.03, 발달장애 아동을 위한 비전 기반 3차원 동작 인식 기술 개발, ㈜큐빅테크<br>
                                2010.05-2011.04, 유비쿼터스 환경을 위한 손 기반 3차원 입력 인터페이스 기술(2차년도), 한국연구재단<br>
                                2010.05-2011.03, 발달장애아동의 자기결정능력 향상을 위한 상호작용교구 기술, 한국콘텐츠진흥원<br>
                                2010.04-2011.03, 혼합현실기반 장애인용 일상생활 보조서비스 기술 연구(2차년도), 한국문화콘텐츠진흥원<br>
                                2009.06-2010.04, 혼합현실기반 장애인용 일상생활 보조서비스 기술 연구, 한국콘텐츠진흥원<br>
                                2009.05-2010.04, 유비쿼터스 환경을 위한 손 기반 3차원 입력 인터페이스 기술, 한국연구재단<br>
                                2008.06-2009.05, 범용 shader를 위한 compiler/Emulator 개발, ㈜피타소프트<br>
                                2008.06-2010.05, 휴대용 단말기에 적합한 3차원 그래픽 프로세서(Shader) 개발, 중소기업청<br>
                                2008.03-2009.01, 증강현실 입력을 위한 가상의 손 인터페이스를 위한 기반 기술 개발, 비쥬텍쓰리디㈜-변경㈜에피앤<br>
                                2008.02-2009.01, 혼합현실기반 장애인용 일상생활 보조서비스 기술 연구, 한국문화콘텐츠진흥원<br>
                                2008.05~2012.04, 유비쿼터스 환경을 위한 손기반 3차원 입력인터페이스 기술, 한국연구재단<br>
                                2008.03-2009.02, 인체 친화형 투사식 디스플레이 일체화 단말기술 개발, 지식경제부<br>
                                2007.08-2008.07, GPU 기반 고성능 영상정합처리 기술에 관한 연구, 한국연구재단<br>
                                2006.04-2011.03, CT연구소 육성사업 혼합현실기반 장애인용 일상생활 보조서비스 기술연구, 문화관광부 및 한국콘텐츠진흥원<br>
                            </p>
                            <hr>
                            <h6 class="card-subtitle mb-4">논문</h6>
                            <hr>
                            <p>
                                김태영 외 1인, Design of a Programmable Vertex Processing Unit for Mobile Platforms, LNCS, 제16권 3호, pp. 805-817, 2006년<br>
                                김태영 외 1인, 효율적인 수퍼샘플링과 선-적분을 이용한 고화질 쉬어-왑 분해 볼륨 랜더링, 멀티미디어 학회, 제9권 8호, pp. 971-981, 2006년<br>
                                김태영 외 3인, Programmable Vertex Processing Unit for Mobile Game Development, LNCS, 제15권 3호, pp.187-192, 2006년<br>
                                김태영 외 4인, 모바일용 셰이더 설계 및 구현, 차세대컴퓨팅학회 논문지, 제2권 3호, pp.5-13, 2006년<br>
                                김태영 외 3인, OpenGL ES 2.0 기반 셰이더 설계, 한국컴퓨터그래픽스 학회, 제 12권 3호, pp.13-20, 2006년<br>
                                김태영 외 5인, 적외선 LED를 이용한 지체장애인 재활훈련 시스템 설계 및 구현, 한국 문화콘텐츠 기술학회 논문지, 제 13권 4호, pp. 29-36, 2006년<br>
                                김태영 외 5인, 적외선 LED를 이용한 실시간 동작 인식 방법에 관한 연구, 한국 문화콘텐츠 기술학회 논문지, 제 1권 1호, pp.19-27, 2006년<br>
                                김태영 외 2인, 지체장애인 재활훈련을 위한 실시간 동작인식 방법에 관한 연구, 한국차세대컴퓨팅학회논문지, 제 3권 1호, pp.56-63, 2007년<br>
                                김태영 외 2인, A Unified Shader based on the OpenGL ES 2.0 for 3D Mobile Game Development, LNCS, 제4469권, pp.898-903, 2007년<br>
                                김태영외 2인, 재활 훈련 서비스를 위한 실시간 모션인식 알고리즘, 멀티미디어학회 논문지, 제10권 9호, pp.1143-1152, 2007년<br>
                                김태영 외 2인, 적외선 LED 기반 모션 분석을 통한 재활훈련 시스템, 컴퓨터그래픽스 학회 논문지, 제13권 4호, pp.29-36, 2007년<br>
                                김태영 , 모바일 환경을 위한 ILP기반 셰이더 컴파일 방법, 산업기술연구소 논문집, 제19권, pp.93-103, 2007년<br>
                                김태영 외 1인, OpenGL ES 2.0 based Shader Compilation Method for the Instruction-Level parallelism, 한국 게임학회 논문지, 제8권 2호, pp.69-76, 2008년<br>
                                김태영 외 2인, 발달장애인을 위한 혼합현실 기반 상황훈련 시스템, 한국 컴퓨터그래픽스학회 논문지, 제14권 2호, pp.1-8, 2008년<br>
                                김태영 외 2인, Motion evaluation for rehabilitation training of the disabled, IEICE trANSACTIONS ON FUNDAMENTALS OF ELECtrONICS COMMUNICATIONS AND COMPUTER SCIENCES, pp.2688-2690, 2008년<br>
                                김태영, 혼합현실 기술 기반 발달장애인 핀꼽기 훈련 시스템, 산업기술연구소 논문집, 제21권, pp.81-95, 2008년<br>
                                김태영 외 4인, 증강 현실 기반 음식점 서빙 상황훈련 시스템, 한국 게임학회 논문지, 제9권 1호, pp.135-142, 2008년<br>
                                김태영 외 3인, 은닉 마르코프 모델 기반 동작 인식 방법, 멀티미디어 학회 논문지, 제 12권 4호, pp.521-529, 2009년<br>
                                김태영 외 1인, 증강현실 응용을 위한 손 동작 인식 기반 사용자 인터페이스 기법, 한국 문화 콘텐츠 기술학회 논문지, 제 4권 2호, pp.26-34, 2009년<br>
                                김태영 외 2인, 증강현실 응용을 위한 손 끝점 추출과 손 동작 인식 기법, 멀티미디어학회 논문지, 제 13권 2호, pp.316-323, 2009년<br>
                                김태영 외 2인, 가상 현실 게임 환경에서의 가상 손 제어를 위한 사용자 손 인식방법, 한국 게임학회 논문지, 제10권 2호, pp.49-56, 2010년<br>
                                김태영 외 1인, 증강현실 게임을 위한 경계선 기반 마커 이진화 방법, 한국 게임학회 논문지, 제 10권 4호, pp.63-72, 2010년<br>
                                김태영 외 1인, 마커리스 트래킹을 위한 특징 서술자의 데이터베이스 생성 및 검색 방법, 한국 게임학회 논문지, 제 11권 3호, pp.63-72, 2010년<br>
                                김태영 외 1인, 동작인식을 위한 배경 분할 및 특징점 추출 방법, 한국 게임학회 논문지, 제 11권 2호, pp.161-174, 2010년<br>
                                김태영 외 2인, 조명과 배경에 강인한 동적 임계값 기반 손 영상 분할 기법, 한국 게임학회 논문지, 제 14권 5호, pp.608-613, 2010년<br>
                                김태영 외 2인, 스마트 디바이스 제어를 위한 비전 기반 실시간 손 포즈 및 제스처 인식 방법, 한국차세대컴퓨팅학회 논문지, 제 8권 4호, pp.27-34, 2012년<br>
                                김태영 외 2인, 은닉된 손가락 예측이 가능한 실시간 손 포즈 인식 방법, 한국 게임학회 논문지, 제 12권 5호, pp.79-88, 2012년<br>
                                김태영 외 3인, 발달 장애인을 위한 증강현실 기반 상황훈련 시스템, 멀티미디어학회 논문지, 제 16권 5호, pp.629-636, 2013년<br>
                                김태영, A Situational Training System for Developmentally Disabled People based on Augmented Reality, IEICE, pp.1561-1564, 2013년<br>
                                김태영 외 1인, A Real-time Hand Pose Recognition Method with Hidden Finger Prediction, IEICE, pp.2170-2173, 2013년<br>
                                김태영 외 1인, 실시간 손 포즈 인식을 통한 비접촉식 입력 인터페이스, 한국차세대컴퓨팅학회 논문지, 제 11권 1호, pp.25-31, 2015년<br>
                                김태영 외 1인, 특징점 기반 카메라 트래킹을 이용한 손 움직임 보정 기법, 한국차세대컴퓨팅학회 논문지, 제 11권 2호, pp.6-13, 2015년<br>
                                김태영 외 1인, 손 제스처 상호작용을 통한 립모션 기반 윷놀이 게임, 한국차세대컴퓨팅학회 논문지, 제 13권 1호, pp.74-81, 2017년<br>
                                김태영 외 1인, 가상현실 응용을 위한 MCSVM 기반 손 제스처 인식 방법, 한국차세대컴퓨팅학회 논문지, 제 13권 6호, pp.88-95, 2017년<br>
                                김태영 외 2인, 손 제스처 인식에 기반한 Virtual Block 게임 인터페이스, 한국 게임학회 논문지, 제 14권 6호, pp.66-74, 2017년<br>
                                김태영 외 2인, HMM과 MCSVM 기반 손 제스처 인터페이스 연구, 한국차세대컴퓨팅학회 논문지, 제 14권 1호, pp.57-64, 2018년<br>
                                김태영 외 2인, 외부 환경에 강인한 딥러닝 기반 손 제스처 인식, 한국차세대컴퓨팅학회 논문지, 제 14권 5호, pp.31-39, 2018년<br>
                                김태영 외 2인, 실시간 손 제스처 인식을 위한 덴스넷 기반 이중흐름 3차원 합성곱 신경망 구조, 2018 한국소프트웨어종합학술대회(KSC2018), 2018년<br>
                                김태영 외 2인, 딥러닝 기반 손 제스처 인식을 통한 3D 가상현실 게임, 한국 컴퓨터그래픽스 학회 논문지, 제 24권 5호, pp.41-48, 2018년<br>
                                김태영 외 2인, 이중흐름 3차원 합성곱 신경망 구조를 이용한 효율적인 손 제스처 인식 방법, 한국차세대컴퓨팅학회 논문지, 제 14권 6호, pp.66-74, 2018년<br>
                            </p>
                            <hr>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>


{{>footer}}
