{{>header}}


<div class="container-fluid">
    <div class="row mx-4 my-4 justify-content-center">
        <!-- Sidebar -->
        <div class="col-lg-2">
            <div id="scrollspy" class="sticky-top">
                <ul class="nav flex-column nav-pills menu-sidebar">
                    <li class="nav-item"><a class="nav-link" href="/introduction/professor"><h5>Professor</h5></a></li>
                    <li class="nav-item"><a class="nav-link" href="/introduction/researchers"><h5>Researchers</h5></a></li>
                    <li class="nav-item"><a class="nav-link" href="#section-3"><h5>Laboratory</h5></a></li>
                </ul>
            </div>
        </div>

        <!-- Content -->
        <div class="col-lg-8">
            <div
                data-mdb-spy="scroll"
                data-mdb-target="#scrollspy"
                data-mdb-offset="0"
                class="scrollspy-example">

                <section id="section-3">
                    <h3>Laboratory</h3>
                    <hr class="divider-horizontal" />
                    Laboratory
                </section>

            </div>
        </div>




    </div>
</div>



{{>footer}}
