<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <meta name="application-name" content="Seokyeong Portal">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Seokyeong Portal">
    <link rel="apple-touch-icon" href="static/app-icon-192.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/app-icon-144.png">
    <title>서경대학교 포탈</title>

    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NSB93TS');
    </script>
    <link href="/css/app.c48377d1.css" rel="preload" as="style">
    <link href="/css/chunk-vendors.57709adc.css" rel="preload" as="style">
    <link href="/js/app.58099248.js" rel="preload" as="script">
    <link href="/js/chunk-vendors.40110ac2.js" rel="preload" as="script">
    <link href="/css/chunk-vendors.57709adc.css" rel="stylesheet">
    <link href="/css/app.c48377d1.css" rel="stylesheet">
</head>
<body>
<noscript>Mon Jul 18 2022 06:30:30 GMT+0000 (Coordinated Universal Time)
    <strong>서경포탈의 정상동작을 위해서는 브라우저내 javascript 기능이 활성화 되어있어야합니다!</strong>
</noscript>
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSB93TS" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<div id="app"></div>
<script src="/js/chunk-vendors.40110ac2.js"></script>
<script src="/js/app.58099248.js"></script></body></html>