<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <!-- Brand Logo -->
        <a class="navbar-brand" href="/">
            <img src="/img/logo_02.jpg" alt="CGVR Logo" width="35" height="35" class="d-inline-block align-text-bottom">
            CGVR Lab
        </a>

        <!-- Hamburger Toggler Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <i class="fas fa-bars"></i>
        </button>

        <!-- Hamburger Toggler Menu -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--            <ul class="navbar-nav mb-2 mb-lg-0">-->
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown mx-4">
                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#">Introduction</a>
                    <ul class="dropdown-menu dropdown-menu-center text-center">
                        <li><a class="dropdown-item" href="/introduction/professor">Professor</a></li>
                        <li><a class="dropdown-item" href="/introduction/researchers">Researchers</a></li>
                        <li><a class="dropdown-item" href="/introduction/laboratory">Laboratory</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown mx-4">
                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#">Notice</a>
                    <ul class="dropdown-menu dropdown-menu-center text-center">
                        <li><a class="dropdown-item" href="/notice/all/board">전체 공지사항</a></li>
                        <li><a class="dropdown-item" href="/notice/normal/board">일반 공지사항</a></li>
                        <li><a class="dropdown-item" href="/notice/lecture/board">수업 공지사항</a></li>
                        <li><a class="dropdown-item" href="/notice/laboratory/board">연구 공지사항</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown mx-4">
                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#">Lecture</a>
                    <ul class="dropdown-menu dropdown-menu-center text-center">
                        <li><a class="dropdown-item" href="#">C++</a></li>
                        <li><a class="dropdown-item" href="#">MFC</a></li>
                        <li><a class="dropdown-item" href="#">그래픽스</a></li>
                        <li><a class="dropdown-item" href="#">증강현실</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown mx-4">
                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#">Lab</a>
                    <ul class="dropdown-menu dropdown-menu-center text-center">
                        <li><a class="dropdown-item" href="/laboratory/notice/board">공지 게시판</a></li>
                        <li><a class="dropdown-item" href="/laboratory/paper/board">논문 게시판</a></li>
                        <li><a class="dropdown-item" href="/laboratory/material/board">자료 게시판</a></li>
                    </ul>
                </li>

            </ul>

            <!-- Right Menu Elements; Sign Up & Sign In -->
            <!-- 추후 로그인 여부에 따른 상태 변경 필요 -->
            <div class="d-flex justify-content-end">
                <a class="btn btn-dark" href="/signup">Sign Up</a>
                <a class="btn btn-dark" href="/signin">Sign In</a>
            </div>

        </div>
    </div>
</nav>