<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <!-- Brand Logo -->
        <a class="navbar-brand" href="/">
            <img src="/img/logo_02.jpg" alt="CGVR Logo" width="35" height="35" class="d-inline-block align-text-bottom">
            CGVR Lab
        </a>

    <!-- Navigation Menu -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown mx-4">
                <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#">연구실 소개</a>
                <div class="dropdown-menu dropdown-menu-center text-center">
                    <a class="dropdown-item" href="#">교수 소개</a>
                    <a class="dropdown-item" href="#">조직도 연혁</a>
                    <a class="dropdown-item" href="#">연구실 소개</a>
                </div>
            </li>

                <li class="nav-item dropdown mx-4">
                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#">Notice</a>
                    <ul class="dropdown-menu dropdown-menu-center text-center">
                        <li><a class="dropdown-item" href="#">전체 공지사항</a></li>
                        <li><a class="dropdown-item" href="#">일반 공지사항</a></li>
                        <li><a class="dropdown-item" href="#">수업 공지사항</a></li>
                        <li><a class="dropdown-item" href="#">연구 공지사항</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown mx-4">
                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#">Lecture</a>
                    <ul class="dropdown-menu dropdown-menu-center text-center">
                        <li><a class="dropdown-item" href="#">C++</a></li>
                        <li><a class="dropdown-item" href="#">MFC</a></li>
                        <li><a class="dropdown-item" href="#">그래픽스</a></li>
                        <li><a class="dropdown-item" href="#">증강현실</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown mx-4">
                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#">Lab</a>
                    <ul class="dropdown-menu dropdown-menu-center text-center">
                        <li><a class="dropdown-item" href="#">공지 게시판</a></li>
                        <li><a class="dropdown-item" href="#">논문 게시판</a></li>
                        <li><a class="dropdown-item" href="#">자료 게시판</a></li>
                    </ul>
                </li>

            </ul>

            <!-- Right Menu Elements; Sign Up & Sign In -->
            <!-- 추후 로그인 여부에 따른 상태 변경 필요 -->
            <div class="d-flex justify-content-end">
                <a class="btn btn-dark" href="/signup">Sign Up</a>
                <a class="btn btn-dark" href="/signin">Sign In</a>
            </div>

        </div>
    </div>
</nav>