{{>header}}
{{>banner}}
<div class="container-fluid mt-4">
    <div class="row mx-4 my-4">
        <div class="col-xl-2">
            <div class="card border border-dark mb-4 text-dark bg-light">
                <!-- Card Header -->
                <div class="card-header text-white bg-dark py-3 d-flex flex-row align-items-center justify-content-between">
                    <h5 class="m-0 font-weight-bold">연구생 정보</h5>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div><a class="card-text text-dark">2017305045 염동빈</a></div>
                    <div><a class="card-text text-dark">재학정보 : 4학년</a></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <input type="text" class="form-control border-dark mb-4" id="search" placeholder="게시글 제목입력"/>
                </div>
                <div class="col-sm-4">
                    <a href="#" role="button" class="btn btn-dark btn-block mb-4">검색</a>
                </div>
            </div>

            <div class="row-cols-xl-2">
                <a href="/notice/all/posts/form" role="button" class="btn btn-dark btn-block mb-4">글 쓰기</a>
            </div>

            <div class="row-cols-xl">
                <div class="card border border-dark text-dark bg-light">
                    <!-- Card Header -->
                    <div class="card-header text-white bg-dark py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold">공지사항</h5>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body" style="align-content: baseline">
                        <div><a class="card-text text-dark" href="/notice/all/board"><b>전체 공지사항</b></a></div>
                        <div><a class="card-text text-dark" href="/notice/normal/board">일반 공지사항</a></div>
                        <div><a class="card-text text-dark" href="/notice/lecture/board">수업 공지사항</a></div>
                        <div><a class="card-text text-dark" href="/notice/laboratory/board">연구 공지사항</a></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-10">
            {{#posts}}
            <!-- 게시글 -->
            <div class="card shadow mb-4 text-dark bg-light">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row bg-dark text-white align-items-center justify-content-between">
                    <h5 class="m-0 font-weight-bold">전체 공지사항</h5>
                </div>
                <!-- 제목, 작성자, 작성일, 조회수 -->
                <div class="card-body">
                    <!-- Title -->
                    <h3>{{title}}</h3>
                    <!-- Author % RegDate & Hits -->
                    <strong>{{author}}</strong>
                    <small><span style="color:#6c757d">{{createdDate}} 조회 {{hits}}</span></small>
                </div>

                <!-- 글 내용 -->
                <div class="card-footer">
                    <!-- Content -->
                    {{{content}}}
                </div>

                <!-- 첨부파일, 수정/삭제 버튼 -->
                <div class="card-footer">
                    <p class="card-text text-dark">첨부 파일</p>
                    <!-- 수정 / 삭제 : 권한 있는 사람한테만 보이도록 -->
                    <!-- 삭제 기능을 위한 id 값 -->
                    <input type="hidden" id="id" value="{{posts.id}}">
                    <button id="btn-delete" type="button" class="btn btn-danger" style="float:right;">삭제</button>
                    <a href="/notice/all/posts/update/{{id}}" class="btn btn-primary" style="float:right;">수정</a>
                </div>
            </div>

            <!-- 댓글 목록 -->
            <!-- 현재 댓글 기능 구현이 되지않아 프론트로만 간단히 처리하였음. 처리 이후 이 주석 지울 것 -->
            <div class="card shadow mb-4 text-dark bg-light">
                <div class="card-header">
                    <h5 class="card-title">댓글 20</h5>
                </div>
                <div class="card-body">
                    <!-- 반복을 통한 댓글 리스트 조회 -->
                    <ul id="comment-list" class="list-group bg-light">
                        <li id="comment-3" class="list-group-item">
                            <div>
                                <div>
                                    <strong>2016305078 강건마</strong>
                                    <small>
                                        22.08.09 19:29
                                        <!-- 수정 / 삭제 : 권한 있는 사람한테만 보이도록 -->
                                        <a href="#" class="text-dark">수정</a>
                                        <a href="#" class="text-dark">삭제</a>
                                    </small>
                                </div>
                                <div>
                                    여자가...말대꾸?!
                                </div>
                            </div>
                        </li>
                        <li id="comment-2" class="list-group-item">
                            <div>
                                <div>
                                    <strong>2016305078 최영환</strong>
                                    <small>
                                        22.08.09 19:29
                                        <a href="#" class="text-dark">수정</a>
                                        <a href="#" class="text-dark">삭제</a>
                                    </small>
                                </div>
                                <div>
                                    그 누구보다 빠르게 난 남들과는 다르게 색다르게 리듬을 타는 비트 위의 나그네 더 빠르게 빨려들어가 빠져버리는 네 박자 리듬 위에 나는 매일 비트를 쪼개
                                    그 누구보다 빠르게 난 남들과는 다르게 색다르게 리듬을 타는 비트 위의 나그네 더 빠르게 빨려들어가 빠져버리는 네 박자 리듬 위에 나는 매일 비트를 쪼개
                                    그 누구보다 빠르게 난 남들과는 다르게 색다르게 리듬을 타는 비트 위의 나그네 더 빠르게 빨려들어가 빠져버리는 네 박자 리듬 위에 나는 매일 비트를 쪼개
                                    그 누구보다 빠르게 난 남들과는 다르게 색다르게 리듬을 타는 비트 위의 나그네 더 빠르게 빨려들어가 빠져버리는 네 박자 리듬 위에 나는 매일 비트를 쪼개
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {{/posts}}
            <!-- 댓글 입력창 -->
            <div class="card shadow mb-4 text-dark bg-light">
                <div class="card-body">
                    <form class="mb-4">
                        <input name="author" class="form-control" type="hidden"/>
                        <textarea class="form-control" rows="3" placeholder="댓글을 작성해보세요."></textarea>
                    </form>
                    <a class="btn btn-primary" style="float:right;btn-space">등록</a>
                </div>
            </div>
        </div>
    </div>
</div>


{{>footer}}