{{>header}}
{{>banner}}
<div class="container-fluid mt-4">
    <div class="row mx-4 my-4">
        <div class="col-xl-2">
            <div class="card border border-dark mb-4 text-dark bg-light">
                <!-- Card Header -->
                <div class="card-header text-white bg-dark py-3 d-flex flex-row align-items-center justify-content-between">
                    <h5 class="m-0 font-weight-bold">연구생 정보</h5>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div><a class="card-text text-dark">2017305045 염동빈</a></div>
                    <div><a class="card-text text-dark">재학정보 : 4학년</a></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8">
                    <input type="text" class="form-control border-dark mb-4" id="search" placeholder="게시글 제목입력"/>
                </div>
                <div class="col-xl-4">
                    <a href="#" role="button" class="btn btn-dark btn-block mb-4">검색</a>
                </div>
            </div>

            <div class="row-cols-xl-2">
                <a href="/notice/post" role="button" class="btn btn-dark btn-block mb-4">글 쓰기</a>
            </div>

            <div class="row-cols-xl">
                <div class="card border border-dark text-dark bg-light">
                    <!-- Card Header -->
                    <div class="card-header text-white bg-dark py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold">공지사항</h5>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body" style="align-content: baseline">
                        <div><a class="card-text text-dark" href="/notice/all">전체 공지사항</a></div>
                        <div><a class="card-text text-dark" href="/notice/normal">일반 공지사항</a></div>
                        <div><a class="card-text text-dark" href="/notice/lecture"><b>수업 공지사항</b></a></div>
                        <div><a class="card-text text-dark" href="/notice/laboratory">연구 공지사항</a></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xl-10">
            <div class="card border border-dark mb-4 text-dark bg-light">
                <!-- Card Header -->
                <div class="card-header text-white bg-dark py-3 d-flex flex-row align-items-center justify-content-between">
                    <h5 class="m-0 font-weight-bold">{{category_dto.content}} 공지사항</h5>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <!-- Title -->
                    <div class="mx-4">
                        <h3>{{lecture_notice_dto.title}}</h3>
                    </div>
                    <!-- Author % RegDate & Hits -->
                    <div class="mx-4 col-xl-4">
                        <strong>{{lecture_notice_dto.author}}</strong>
                        <small><span style="color:#6c757d">{{regDate}} 조회 {{lecture_notice_dto.hits}}</span></small>
                    </div>
                    <hr>
                    <!-- Content -->
                    <div class="mx-4 my-4">
                        {{lecture_notice_dto.content}}
                    </div>
                </div>
            </div>
            <div class="card border border-dark mb-4 text-dark bg-light">
                <div class="card-header">
                    <h5 class="card-title">댓글 20</h5>
                </div>
                <div class="card-body">
                    <!-- 반복을 통한 댓글 리스트 조회 -->
                    <ul id="comment-list" class="list-group bg-light">
                        <li id="comment-3" class="list-group-item">
                            <div>
                                <div>
                                    <strong>2016305078 강건마</strong>
                                    <small>22.08.09 19:29</small>
                                </div>
                                <div>
                                    여자가...말대꾸?!
                                    <a href="#" class="float-end m-1">삭제</a>
                                    <a href="#" class="float-end m-1">수정 </a>
                                </div>
                            </div>
                        </li>
                        <li id="comment-2" class="list-group-item">
                            <div>
                                <div>
                                    <strong>2016305078 최영환</strong>
                                    <small>22.08.09 19:29</small>
                                </div>
                                <div>
                                    그 누구보다 빠르게 난 남들과는 다르게 색다르게 리듬을 타는 비트 위의 나그네 더 빠르게 빨려들어가 빠져버리는 네 박자 리듬 위에 나는 매일 비트를 쪼개
                                    <a href="#" class="float-end m-1">삭제</a>
                                    <a href="#" class="float-end m-1">수정 </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 댓글 입력창 -->
            <div class="card border border-dark mb-4 text-dark bg-light">
                <div class="card-body">
                    <form class="mb-4">
                        <textarea class="form-control" rows="3" placeholder="댓글을 작성해보세요."></textarea>
                    </form>
                    <a class="btn btn-dark" style="float:right">등록</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}