{{>header}}


<div class="container-fluid">
    <div class="row mx-4 my-4 justify-content-center">
        <!-- Scrollspy -->
        <div class="col-md-2">
            <div id="scrollspy1" class="sticky-top">
                <ul class="nav flex-column nav-pills menu-sidebar">
                    <li class="nav-item"><a class="nav-link" href="#example-1"><h5>Professor</h5></a></li>
                    <li class="nav-item"><a class="nav-link" href="#example-2">Researchers</a></li>
                    <li class="nav-item"><a class="nav-link" href="#example-3">Laboratory</a></li>
                </ul>
            </div>
        </div>

        <!-- Content -->
        <div class="col-md-8">
            <div data-mdb-spy="scroll"
                 data-mdb-target="#scrollspy1"
                 data-mdb-offset="0"
                 class="scrollspy-example">
                <section id="example-1">
                    <div class="card mb-4">
                        <div class="row g-0">
                            <!-- Profile Image -->
                            <div class="col-lg-auto">
                                <img class="img-fluid rounded-start" src="/img/professor.jpg" alt="Profile: Professor" style="height: 200px">
                            </div>
                            <!-- Profile Content -->
                            <div class="col-lg-auto">
                                <div class="card-body">
                                    <h5 class="card-title">김태영 <small>교수</small></h5>
                                    <p class="card-text"><BR>
                                        학위명 : 공학박사<BR>
                                        전공분야 : 컴퓨터그래픽스<BR>
                                        연구실 : 506호 / 02 940 7744<BR>
                                        Email : tykim@skuniv.ac.kr<BR>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>



<!--<div class="container-fluid">-->
<!--    <div class="row mx-4 my-4">-->
<!--        &lt;!&ndash; SideBar &ndash;&gt;-->
<!--        <div class="col-lg-3">-->
<!--            <h5>이것은 사이드 메뉴입니다.</h5>-->
<!--            <h5>이것은 사이드 메뉴일까요?</h5>-->
<!--            <h5>이것은 사이드 메뉴일겁니다.</h5>-->
<!--            <h5>이것은 사이드 메뉴일수도 있습니다.</h5>-->
<!--            <h5>이것은 사이드 메뉴일 것입니다.</h5>-->

<!--        </div>-->

<!--        &lt;!&ndash; Content &ndash;&gt;-->
<!--        <div class="col-lg-6">-->
<!--            <img class="img-fluid rounded mb-4 mb-lg-0" src="/img/professor.jpg" alt="Profile: Professor">-->
<!--            <h5>김태영 교수</h5>-->
<!--            <h5>학위명 : 공학박사</h5>-->
<!--            <h5>전공분야 : 컴퓨터그래픽스</h5>-->
<!--            <h5>연구실 : 506호 / 02 940 7744</h5>-->
<!--            <h5>Email : tykim@skuniv.ac.kr</h5>-->
<!--        </div>-->
<!--        -->
<!--    </div>-->
<!--</div>-->

{{>footer}}
