{{>header}}

<div class="container-fluid">
    <div class="row mx-4 my-4 justify-content-center">
        <!-- SideMenu Navbar -->
        <div class="col-lg-2">
            <div id="sidebar" class="position-fixed">
                <h3>Introductions</h3><hr>
                <nav class="nav nav-pills flex-column menu-sidebar">
                    <a class="nav-link" href="/introduction/professor"><h4>Professor</h4></a>
                    <a class="nav-link" href="#item-2"><h4>Researchers</h4></a>
                    <nav class="nav nav-pills flex-column ms-4">
                        <a class="nav-link" href="#item-2-1"><h5>Researcher A</h5></a>
                        <a class="nav-link" href="#item-2-2"><h5>Researcher B</h5></a>
                        <a class="nav-link" href="#item-2-3"><h5>Researcher C</h5></a>
                    </nav>
                    <a class="nav-link" href="/introduction/laboratory"><h4>Laboratory</h4></a>
                </nav>
            </div>
        </div>

        <!-- Content -->
        <div class="col-lg-8">
            <div data-bs-spy="scroll" data-bs-target="#sidebar" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                <div id="item-2">
                    <h3></h3><hr>
                    <p></p>
                </div>

                <div id="item-2-1">
                    <h3>Researcher A</h3><hr>
                    <div class="card mb-4">
                        <div class="row g-0">
                            <!-- Profile Image -->
                            <div class="col-lg-auto">
                                <img class="img-fluid rounded" src="/img/researcher1.jpg" style="height: 200px">
                            </div>
                            <!-- Profile Content -->
                            <div class="col-lg-auto">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>홍길동<small> 학부연구생</small></strong></h5>
                                    <p class="card-text"><BR>
                                        학위명 : 학사<BR>
                                        전공분야 : 컴퓨터비전<BR>
                                        연구실 : 506호 / 02 940 7744<BR>
                                        Email : 2022305001@skuniv.ac.kr<BR>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="item-2-2">
                    <h3>Researcher B</h3><hr>
                    <div class="card mb-4">
                        <div class="row g-0">
                            <!-- Profile Image -->
                            <div class="col-lg-auto">
                                <img class="img-fluid rounded" src="/img/researcher2.jpg" style="height: 200px">
                            </div>
                            <!-- Profile Content -->
                            <div class="col-lg-auto">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>홍길동<small> 학부연구생</small></strong></h5>
                                    <p class="card-text"><BR>
                                        학위명 : 학사<BR>
                                        전공분야 : 컴퓨터비전<BR>
                                        연구실 : 506호 / 02 940 7744<BR>
                                        Email : 2022305001@skuniv.ac.kr<BR>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="item-2-3">
                    <h3>Researcher C</h3><hr>
                    <div class="card mb-4">
                        <div class="row g-0">
                            <!-- Profile Image -->
                            <div class="col-lg-auto">
                                <img class="img-fluid rounded" src="/img/researcher3.jpg" style="height: 200px">
                            </div>
                            <!-- Profile Content -->
                            <div class="col-lg-auto">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>홍길동<small> 학부연구생</small></strong></h5>
                                    <p class="card-text"><BR>
                                        학위명 : 학사<BR>
                                        전공분야 : 컴퓨터비전<BR>
                                        연구실 : 506호 / 02 940 7744<BR>
                                        Email : 2022305001@skuniv.ac.kr<BR>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{{>footer}}
