{{>header}}


<div class="container-fluid">
    <div class="row mx-4 my-4 justify-content-center">
        <!-- Sidebar -->
        <div class="col-lg-2">
            <div id="scrollspy" class="sticky-top">
                <ul class="nav flex-column nav-pills menu-sidebar">
                    <li class="nav-item"><a class="nav-link" href="/introduction/professor"><h5>Professor</h5></a></li>
                    <li class="nav-item"><a class="nav-link" href="#section-2"><h5>Researchers</h5></a>
                        <ul class="nav flex-column ps-3">
                            <li class="nav-item"><a class="nav-link" href="#section-sub-A"><h6>Researcher A</h6></a></li>
                            <li class="nav-item"><a class="nav-link" href="#section-sub-B"><h6>Researcher B</h6></a></li>
                            <li class="nav-item"><a class="nav-link" href="#section-sub-C"><h6>Researcher C</h6></a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/introduction/laboratory"><h5>Laboratory</h5></a></li>
                </ul>
            </div>
        </div>

        <!-- Content -->
        <div class="col-lg-8">
            <div
                data-mdb-spy="scroll"
                data-mdb-target="#scrollspy"
                data-mdb-offset="0"
                class="scrollspy-example">

                <section id="section-2">
                    <h3>Researchers</h3>
                    <hr class="divider-horizontal" />

                    <section id="section-sub-A">
                        <h3>Researcher A</h3>
                        <hr class="divider-horizontal" />
                        Researcher A Researcher A Researcher A Researcher A Researcher A
                        Researcher A Researcher A Researcher A Researcher A Researcher A
                        Researcher A Researcher A Researcher A Researcher A Researcher A
                        Researcher A Researcher A Researcher A Researcher A Researcher A
                        Researcher A Researcher A Researcher A Researcher A Researcher A

                        Researcher A Researcher A Researcher A Researcher A Researcher A
                        Researcher A Researcher A Researcher A Researcher A Researcher A
                        Researcher A Researcher A Researcher A Researcher A Researcher A
                        Researcher A Researcher A Researcher A Researcher A Researcher A
                        Researcher A Researcher A Researcher A Researcher A Researcher A

                        Researcher A Researcher A Researcher A Researcher A Researcher A
                        Researcher A Researcher A Researcher A Researcher A Researcher A
                        Researcher A Researcher A Researcher A Researcher A Researcher A
                        Researcher A Researcher A Researcher A Researcher A Researcher A
                        Researcher A Researcher A Researcher A Researcher A Researcher A

                        Researcher A Researcher A Researcher A Researcher A Researcher A
                        Researcher A Researcher A Researcher A Researcher A Researcher A
                        Researcher A Researcher A Researcher A Researcher A Researcher A
                        Researcher A Researcher A Researcher A Researcher A Researcher A
                        Researcher A Researcher A Researcher A Researcher A Researcher A
                    </section>

                    <section id="section-sub-B">
                        <h3>Researcher B</h3>
                        <hr class="divider-horizontal" />
                        Researcher B Researcher B Researcher B Researcher B Researcher B
                        Researcher B Researcher B Researcher B Researcher B Researcher B
                        Researcher B Researcher B Researcher B Researcher B Researcher B
                        Researcher B Researcher B Researcher B Researcher B Researcher B
                        Researcher B Researcher B Researcher B Researcher B Researcher B

                        Researcher B Researcher B Researcher B Researcher B Researcher B
                        Researcher B Researcher B Researcher B Researcher B Researcher B
                        Researcher B Researcher B Researcher B Researcher B Researcher B
                        Researcher B Researcher B Researcher B Researcher B Researcher B
                        Researcher B Researcher B Researcher B Researcher B Researcher B

                        Researcher B Researcher B Researcher B Researcher B Researcher B
                        Researcher B Researcher B Researcher B Researcher B Researcher B
                        Researcher B Researcher B Researcher B Researcher B Researcher B
                        Researcher B Researcher B Researcher B Researcher B Researcher B
                        Researcher B Researcher B Researcher B Researcher B Researcher B

                        Researcher B Researcher B Researcher B Researcher B Researcher B
                        Researcher B Researcher B Researcher B Researcher B Researcher B
                        Researcher B Researcher B Researcher B Researcher B Researcher B
                        Researcher B Researcher B Researcher B Researcher B Researcher B
                        Researcher B Researcher B Researcher B Researcher B Researcher B
                    </section>

                    <section id="section-sub-C">
                        <h3>Researcher C</h3>
                        <hr class="divider-horizontal" />
                        Researcher C Researcher C Researcher C Researcher C Researcher C
                        Researcher C Researcher C Researcher C Researcher C Researcher C
                        Researcher C Researcher C Researcher C Researcher C Researcher C
                        Researcher C Researcher C Researcher C Researcher C Researcher C
                        Researcher C Researcher C Researcher C Researcher C Researcher C

                        Researcher C Researcher C Researcher C Researcher C Researcher C
                        Researcher C Researcher C Researcher C Researcher C Researcher C
                        Researcher C Researcher C Researcher C Researcher C Researcher C
                        Researcher C Researcher C Researcher C Researcher C Researcher C
                        Researcher C Researcher C Researcher C Researcher C Researcher C

                        Researcher C Researcher C Researcher C Researcher C Researcher C
                        Researcher C Researcher C Researcher C Researcher C Researcher C
                        Researcher C Researcher C Researcher C Researcher C Researcher C
                        Researcher C Researcher C Researcher C Researcher C Researcher C
                        Researcher C Researcher C Researcher C Researcher C Researcher C

                        Researcher C Researcher C Researcher C Researcher C Researcher C
                        Researcher C Researcher C Researcher C Researcher C Researcher C
                        Researcher C Researcher C Researcher C Researcher C Researcher C
                        Researcher C Researcher C Researcher C Researcher C Researcher C
                        Researcher C Researcher C Researcher C Researcher C Researcher C
                    </section>
                </section>

            </div>
        </div>




    </div>
</div>



{{>footer}}
